#content-wrapper.col-md-12
        h2
            |Quotes about life
        br
        h3.black
            |"Life isn't about finding yourself. Life is about creating yourself." George Bernard Shaw
        br
        #content1.col-md-7
                h3
                    |"The most important thing is to enjoy your life - to be happy - it's all that matters." Audrey Hepburn
                br
                br
                img.image(src="./static/life is.jpg")
                br
                br
                h3
                    |"The truth is you don't know what is going to happen tomorrow. Life is a crazy ride, and nothing is guaranteed." Eminem
                br
                img.image3(src="./static/do.jpg")
                br
                br
                br
                #sidebar.col-md-7
                    ul.nav
                        li
                            a(href="#")
                                |Link1
                        li
                            a(href="#")
                                |Link2
                        li
                            a(href="#")
                                |Link3
                h2
                    |Find more quotes
        #content2.col-md-5
                h3
                    |"Life is 10 percent what you make it, and 90 percent how you take it." Irving Berlin
                br
                h3
                    |"Life is a dream for the wise, a game for the fool, a comedy for the rich, a tragedy for the poor." Sholom Aleichem
                br
                h3
                    |"We do not remember days, we remember moments." Cesare Pavese
                br
                h3
                    |"Life is a song - sing it. Life is a game - play it. Life is a challenge - meet it. Life is a dream - realize it. Life is a sacrifice - offer it. Life is love - enjoy it." Sai Baba
                br
                br
                img.image2(src="./static/choose progress.png")
                br
                br
                
