h2
    |Update Article
.input-group
    h4
        |Title
    input#updateTitle.text.form-control(value!="<%= model.title %>" aria-describedby="basic-addon1")
br
.input-group
    h4
        |Description
    textarea#updateDescription.text.form-control(aria-describedby="basic-addon1")
            <%- model.description %>
br
.input-group
    h4
        |Content
    textarea#updateContent.text.form-control(aria-describedby="basic-addon1")
            <%- model.content %>
br
.input-group
    h4
        |Image
    input#updateImage.text.form-control(value!="<%= model.url_image %>" aria-describedby="basic-addon1")
br
button#saveButton.btn.btn-success()
    |Update
button#deleteButton.Button.btn.btn-default
    |Delete