.blur-item {
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
}
body {
  margin: 0;
  padding: 0;
  background-image: url("../../../static/background5.jpg");
  background-attachment: fixed;
}
#menu.col-md-8.col-md-offset-2 {
  background-size: 100%;
  background-color: burlywood;
  margin-top: 10px;
  margin-bottom: 10px;
}
#menu.col-md-8.col-md-offset-2 ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}
#menu.col-md-8.col-md-offset-2 ul li {
  display: inline-block;
  float: top;
  vertical-align: middle;
  margin: 0;
  padding: 10px;
  border-right: 3px solid transparent;
}
#menu.col-md-8.col-md-offset-2 ul li a {
  line-height: none;
  text-decoration: none;
  height: 50px;
  padding: 0 10px;
  font-family: 'Book Antiqua';
  font-size: 25px;
  color: #7C0E17;
  cursor: pointer;
  border-right: transparent;
}
#menu.col-md-8.col-md-offset-2 ul li.listch a:hover {
  color: white;
}
#content-home.col-md-12 {
  position: center;
  background-size: 100%;
  box-shadow: 0px 0px 5px 5px rgba(51, 51, 51, 0.7);
}
h1.home {
  text-align: center;
  color: black;
  font-family: "Book Antiqua";
}
.col-md-12 {
  padding: 0;
}
#wrapper-article.col-md-12 {
  margin-top: 25px;
  background-color: rgba(99, 7, 27, 0.5);
  background-size: 100%;
  box-shadow: 0px 0px 5px 5px rgba(51, 51, 51, 0.7);
  font-family: "Book Antiqua";
}
#content-article {
  color: white;
}
#content-article ul {
  list-style-type: none;
}
#content-article li.listaArticol {
  position: relative;
  margin: 10px;
  overflow: hidden;
  display: block;
}
.titleArticle {
  align: right;
  color: burlywood;
  font-size: 30px;
}
.descriptionArticle {
  align: right;
  color: #ebf3fe;
  font-size: 24px;
}
.contentArticle {
  align: right;
  color: #ebf3fe;
  font-size: 20px;
}
#imagine {
  float: left;
  width: 250px;
  height: 250px;
  margin: 25px;
}
#imagine img.url_image {
  width: 200px;
  margin: 25px;
}
.date {
  float: right;
}
#editButton.btn.btn-success {
  align: left;
  box-shadow: 10px 10px 5px #000000;
}
#deleteButton.Button.btn.btn-default,
#deleteButtonHome.btn.btn-default,
#showButton.btn.btn-info {
  margin-left: 30px;
  box-shadow: 10px 10px 5px #000000;
}
#content-wrapper.col-md-12 {
  background-color: rgba(99, 7, 27, 0.5);
  background-size: 100%;
  box-shadow: 0px 0px 5px 5px rgba(51, 51, 51, 0.7);
  margin: 0;
}
#content1.col-md-7 {
  float: left;
  margin: 0;
  color: burlywood;
}
#content2.col-md-5 {
  float: right;
  margin: 0;
  color: floralwhite;
}
.col-md-12 {
  padding: 0;
}
img.image {
  width: 70%;
  margin-left: 15%;
}
img.image2 {
  margin-left: 25%;
}
img.image3 {
  width: 50%;
  margin-left: 25%;
}
h2 {
  text-align: center;
  font-family: 'Book Antiqua';
  color: white;
}
h3.black {
  color: black;
}
h1,
h3 {
  font-family: 'Book Antiqua';
  text-align: center;
}
#sidebar.col-md-7 {
  float: left;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.1);
  padding-bottom: 1px;
}
ul.nav {
  list-style: none;
  border-top: 1px solid #666;
  margin-bottom: 1px;
}
ul.nav li {
  border-bottom: 1px solid #666;
}
ul.nav a,
ul.nav a:visited {
  padding: 10px;
  display: block;
  width: 300px;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.1);
  color: #666666;
}
ul.nav a:hover,
ul.nav a:active,
ul.nav a:focus {
  background-color: transparent;
  color: #FFF;
}
h1.formular,
h2.formular,
h3.formular {
  color: white;
}
p {
  font-family: 'Book Antiqua';
  padding: 10px;
  alignment: center;
}
h2.comment {
  color: black;
  text-align: center;
}
#show-article-comments {
  color: white;
  margin-top: 25px;
  background-size: 100%;
  box-shadow: 0 0 5px 5px rgba(51, 51, 51, 0.7);
  font-family: "Book Antiqua";
}
.contentComm {
  align: center;
  color: burlywood;
  font-size: 22px;
}
#show-article-details {
  margin-top: 25px;
  margin-bottom: 25px;
  background-size: 100%;
  color: white;
  font-family: "Book Antiqua";
}
#imageShow {
  float: left;
  width: 250px;
  height: 250px;
  margin: 25px;
}
#imageShow img.imageShowArticle {
  width: 200px;
  margin: 25px;
}
.titleShowArticle {
  align: right;
  color: burlywood;
  font-size: 30px;
}
.descriptionShowArticle {
  align: right;
  color: #ebf3fe;
  font-size: 24px;
}
.contentShowArticle {
  align: right;
  color: #ebf3fe;
  font-size: 20px;
}
.dateShowArticle {
  float: right;
}
h4 {
  color: white;
  float: left;
  font-family: "Book Antiqua";
}
h4 {
  color: white;
  float: left;
  font-family: "Book Antiqua";
}
