h2
    |Create New Article
.input-group
    input#articleTitle.text.form-control(placeholder="Title" aria-describedby="basic-addon1")
br
.input-group
    textarea#articleDescription.text.form-control(placeholder="Description" aria-describedby="basic-addon1")
br
.input-group
    textarea#articleContent.text.form-control(placeholder="Content" aria-describedby="basic-addon1")
br
.input-group
    input#articleImage.text.form-control(placeholder="Image" aria-describedby="basic-addon1")
br
button#saveButton.btn.btn-success
    |Save