#banner.banner.col-md-8.col-md-offset-2
    img(src="./static/blog_header-black.png",width="100%")

#menu.col-md-8.col-md-offset-2
    ul
        li.listch
            a(href="#", title="Home")
                | Home
        li.listch
            a(href="#blog", title="Blog")
                | Blog
        li.listch
            a(href="#", title="Comments")
                | Comments
        li.listch
            a(href="#", title="Contact")
                | Contact



