#content-home.col-md-12
	h1.home
		|Welcome to my blog :)
br
br
br
#wrapper-article.col-md-12
	#content-article
		li.listaArticol
			.url_image
				|url
			.titleArticle
				|titlu
			.descriptionArticle
				|desc
			.contentArticle
				|content
			.date
				|data
			br
br
br
